<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Boone, North Carolina</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body class = "center">
        <h1>Boone, North Carolina</h1>
        <a href="/">Return to homepage</a>
        <br />
    </body>
    <body>
        <h2>Welcome to the Peak of NC.</h2>



        <h3>Average Cost: $808</h3>



        <h4>Get to know Boone</h4>
        <li>Boone is located in the Blue Ridge Mountains of west North Carolina.</li>
        <li>Houses Appalachian State University.</li>
        <li>Close by Grandfather Mountain, known for its great landscape.</li>
        <li>Rent a cabin and relax!</li>
        <li>The town is named after Daniel Boone, an American pioneer.</li>


        <img src="https://images.unsplash.com/photo-1541424729898-d4420afb9602?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Ym9vbmUlMjBub3J0aCUyMGNhcm9saW5hfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" width = "500" height="500">
    </body>

</html>