<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Boone, North Carolina</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <h1>Boone, North Carolina</h1>
        <p>Welcome to Boone</p>
        <p>Average Cost:</p>
        <p>More info about Boone</p>
        <img src="https://www.flickr.com/photos/jason_frye/41568389472/in/photolist-2jtFPhk-26kfRYd-2jNGhhS-2mFni9v-2mcFgq6-2govw18-Jsj8ft-2jsHimk-2it2EYV-21GmSGo-2gJRLaR-tzZf5u-72rj3-2jZCMFj-2k5AJHa-72rj2-2jWYSB8-AD2ozT-4FQjbT-7EfD4v-2joYYAX-2czY55n-2322zni-2mbvhvK-FnLGWj-UHcJyB-2jQTUxa-UbU9Zz-2myoQ4F-2ktgWrF-2kkY9CS-9UQmUq-EpnN8V-CLpdRx-Yq1XoM-7EtQgr-HXUdCy-2jWApPp-NFFjQ6-2k4epgf-2mbpQdJ-2jngvUC-LK6yqb-y87JmJ-23A1NZG-pCniHE-6hBty5-2k2BPVR-2hs1GwQ-yk7DZi" alt="3D HTML" width="350" height="350">
    </body>

</html>