<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Boone, North Carolina</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body class = "center">
        <h1>Boone, North Carolina</h1>
        <a href="/">Return to homepage</a>
        <br />
    </body>
    <body>
        <p>Welcome to Boone</p>
        <p>Average Cost:</p>
        <p>More info about Boone</p>
        <img src="https://images.unsplash.com/photo-1541424729898-d4420afb9602?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Ym9vbmUlMjBub3J0aCUyMGNhcm9saW5hfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" width = "500" height="500">
    </body>

</html>