<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cape Town, South Africa</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body class = "center">
        <h1>Cape Town, South Africa</h1>
        <a href="/">Return to homepage</a>
        <br />
    </body>
    <body>
        <h2>Welcome to Cape Town, the tip of Africa.</h2>




        <h3>Average Cost:$2,327</h3>
        <h4>Get to know Cape Town</h4>
        <li>Nicknamed the "Mother City".</li>
        <li>Afrikaans is the most spoken langauge.</li>
        <li>Appointed the best place in the world to visit by the New York Times in 2014.</li>
        <li>One of the three capital cities of South Africa.</li>
        <li>Known for its harbors and beaches, but also for Table Mountain.</li>
        <li>Has a warm Mediterranean Climate.</li>
        <li>Best time to visit is from March to May and September to November to avoid crowds.</li>


         <img src="https://images.unsplash.com/photo-1576485375217-d6a95e34d043?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2FwZSUyMHRvd258ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60" width = "450" height="400">
    </body>

</html>