<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Charlotte, North Carolina</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body class = "center">
        <h1>Charlotte, North Carolina</h1>
        <a href="/">Return to homepage</a>
        <br />
    </body>
    <body>
        <h2>Welcome to Charlotte, the Banking Capital of NC.</h2>
        <h3>Average Cost:$1,308</h3>
        <h4>Get to Know Charlotte</h4>
        <li>Nicknamed the Queen City because of its namesake Charlotte of Mecklenburg-Strelitz.</li>
        <li>Houses the University of North Carolina at Charlotte.</li>
        <li>Artistic district called NoDa, great for a night out.</li>
        <li>Uptown Charlotte has amazing skyscrapes and rooftop patios.</li>
        <li>Pimento cheese captial of the World!</li>
        <li>Home to the basketball team, the Charlotte Hornets.</li>
        <li>Hometown of many famous people like Stephen Curry, Seth Curry, and DaBaby.</li>



    
        <img src="https://images.unsplash.com/photo-1582555645330-9fa5f195e1ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2hhcmxvdHRlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60width = "500" height="500">
    </body>

</html>