<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dubai, UAE</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body class = "center">
        <h1>Dubai, UAE</h1>
        <a href="/">Return to homepage</a>
        <br />
    </body>
    <body>
        <h2>Welcome to Dubai, the Heart of the Middle East.</h2>



        <h3>Average Cost:$2,286</h3>


        
        <h4>Get to know Dubai</h3>
        <li>Dubai is a city built on a desert.</li>
        <li> Serves as the capital of the United Arab Emirates (UAE).</li>
        <li>The local language is Arabic.</li>
        <li>The largest building in the world, the Burj Kahlifa, is located in Dubai (pictured below).</li>
        <li>The Dubai Fountain and Mall are beautiful features of the city. Great for shopping name brands. There's even a skating rink in the mall!</li>
        <li>Aside from the Burj, Dubai has some of the most beautiful architechture </li>
        <img src="https://images.unsplash.com/photo-1518684079-3c830dcef090?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZHViYWl8ZW58MHx8MHx8&auto=format&fit=crop&w=1400&q=60" width = "350" height="460">

    </body>

</html>