<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dubai, UAE</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <h1>Dubai, UAE</h1>



        <h1>Welcome to Dubai</h1>



        <h1>Average Cost:</h1>


        
        <h1>More info about Dubai</h1>

        <li>The largest building in the world, the Burj Kahlifa, is located in Dubai.</li>
        <li>The Dubai Fountain and Mall are beautiful features of the city.</li>
        <li>Aside from the Burj, Dubai has some of the most beautiful architechture </li>

    </body>

</html>