<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ballin on a Budget</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <h1>Oh, The Places You'll (Maybe) Go</h1>
        <p>Are you a student at the University of North Carolina at Chapel Hill?</p>
        <p>Probably. Otherwise, this website is not going to be very useful to you.</p>
        <p>Like any good college student who is responsible with their money, you probably have a budget.</p>
    </head>
    <body>
        <a href="/take_off">enter here</a>
    </body>

</html>