<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ballin on a Budget</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <ul>
            <a href="/">Home</a>
            <a href="/beach">Beach</a>
            <a href="/city">City</a>
            <a href="/wilderness">Wilderness</a>
        </ul>
        <h1>Oh, The Places You'll (Maybe) Go</h1>
        <img src="https://www.usnews.com/dims4/USNEWS/70dc21c/17177859217/resize/800x540%3E/quality/85/?url=https%3A%2F%2Fmedia.beam.usnews.com%2Fc8%2Fc1f072147e28aabbb84a9f0d87d2e3%2Foldwell.JPG" alt="Chapel Hill", class = "center">
        <blockquote class = "center">
            <p>Are you a student at the University of North Carolina at Chapel Hill? Hopefully. Otherwise, this website is not going to be very useful to you.</p>
            <p>Like any good college student who is responsible with their money, you probably have a budget(yet you defintely spend more money on coffee at Stone and Leaf than you realize.
                It's okay. We've all been there.)
            </p>
            <p>Budgeting for a trip is very important, but that doesn't mean that you can't still visit somewhere beautiful with lots of fun things to do. 
                There are a lot of factors that go into planning a trip, but cost and interest are probably the two most important factors. How can you plan a trip without knowing how much money you can spend?
                How can you save up all this money and have absolutely zero interest in the place you are doing to?
            </p>
            <p>All these questions can be answered here.</p>
        </blockquote>
        <br />
        <br />
        <div class="banner" style="padding:15px; text-align:center;">
            <div class="banner-content">
            <h1>Let's Get Traveling!</h1>
            <p>Click below to set your budget and location preference.</p>
            <a href="/take_off">Click Here.</a>            
            </div>
        </div>
        
    </body>
</html>