<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Miami, Florida</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body class = "center">
        <h1>Miami, Florida</h1>
        <a href="/">Return to homepage</a>
        <br />
    </body>
    <body>
        <h2>Welcome to Miami, Home to white-sand beaches</h2>
        <h3>Average Cost: $1,154</h3>
        <h4>Get to know Miami</h4>
        <li>Miami is surrounded by two national parks: Biscayne National Park and Everglades National Park.</li>
        <li>The population of Miami is 70% Hispanic.</li>
        <li>There are over 50 shipwrecks off the coast of Miami. Great for a scuba diving.</li>
        <li>Miami is immersed in culture, espeically Latin American cutlure.</li>
        <li>Make sure to try Cuban food while you are there!</li>


        <img src="https://images.unsplash.com/photo-1597535973747-951442d5dbc7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bWlhbWl8ZW58MHx8MHx8&auto=format&fit=crop&w=1400&q=60" width = "500" height="700">
    </body>

</html>