<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>New York City, New York</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body class = "center">
        <h1>New York City, New York</h1>
        <a href="/">Return to homepage</a>
        <br />
    </body>
    <body>
        <h2>Welcome to New York City, or otherwise known as The Big Apple.</h2>
        <h3>Average Cost:$1,697</h3>
        <h4>More info about New York City</h4>
        <li>Over 8 million people live in NYC.</li>
        <li>New York has five boroughs or regions: Manhattan, The Bronx, Queens, Brooklyn, and Staten Island.</li>
        <li>Largest city in USA.</li>
        <li>Checkout Chinatown, a Chinese-American neigborhood.</li>
        <li>Of course we can't forget the infamous Central Park, located in Manhattan</li>
        <img src="https://images.unsplash.com/photo-1500916434205-0c77489c6cf7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bmV3JTIweW9ya3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1400&q=60" width = "350" height="500">
    </body>

</html>
