<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ooty, India</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body class = "center">
        <h1>Ooty,India</h1>
        <a href="/">Return to homepage</a>
        <br />
    </body>
    <body>
        <h2>Welcome Ooty, the land of rolling hills.</h2>
        <h3>Average Cost: $1,990 </h3>
        <h4>Get to know Ooty</h4>
        <li>Located in the Southern India, in the state of Tamil Nadu.</li>
        <li>Subtropical higland climate.</li>
        <li>Known for its tea plantations (view picture below).</li>
        <li>The languages spoken in Ooty are Tamil, Badaga, Kannada and Malayalam.</li>
        <li>Try some Southern Indian cusine while you are there like Dosa!</li>
        <li>The go-to honeymoon spot for South Indians.</li>
        <img src="https://images.unsplash.com/photo-1559147861-32715680aef8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8b290eXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1400&q=60" width = "500" height="300">
    </body>

</html>