<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Wilmington, North Carolina</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body class = "center">
        <h1>Wilmington, North Carolina</h1>
        <a href="/">Return to homepage</a>
        <br />
    </body>
    <body>
        <h2>Welcome to Wilmington, Enjoy the Southern Hospitality.</h2>
        <h3>Average Cost: $953 </h3>
        <h4>Get to know Wilmington</h4>
        <li>Seen in many shows and movies such as Dawson's Creek, One Tree Hill, Sleepy Hallow, etc.</li>
        <li>There is a One Tree Hill convention every year, Chad Micheal Murray has even attended before.</li>
        <li>Lively and clean beaches.</li>
        <li>Houses the University of North Carolina at Wilmington.</li>
        <li>Nicknamed the "Port City"</li>
        <li>National Geographic named Wilmington one of the top 20 surf towns in the world. Come surf here!!</li>
        <li>Woodrow Wilson was once a resident of Wilmington.</li>


        <img src="https://media.istockphoto.com/photos/atlantic-dunes-picture-id865174124?b=1&k=20&m=865174124&s=170667a&w=0&h=4EXN0ukfbDXeeY75jx82JJE7qRE4mumQVcy8C8w2Kdg=" width = "500" height="300">
    </body>

</html>