<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Wilmington, North Carolina</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body class = "center">
        <h1>Yosemite, California</h1>
        <a href="/">Return to homepage</a>
        <br />
    </body>
    <body>
        <h2>Welcome to Yosemite</h2>
        <h3>Average Cost:$1,241</h3>
        <h4>Get to know Yosemite</h4>
        <li>Is know for its waterfalls, granite monoliths, deep valleys, and sequoias.</li>
        <li>Catch an amazing view of Yosemite's granite rock glow bright orange!</li>
        <li>The place to be for hikers, campers, rockclimbers, anyone outdoorsy.</li>
        <li>There is an admission fee to get in. Fees vary depending on how you enter the park.</li>
        <li>Come see the rainbows at night, one of the only places you can.</li>
        <li>If you are animal lover, come discover over 400 species living inside the park.</li>

        <img src="https://images.unsplash.com/photo-1498429089284-41f8cf3ffd39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8eW9zZW1pdGV8ZW58MHx8MHx8&auto=format&fit=crop&w=1400&q=60" width = "500" height="300">
    </body>

</html>